<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">
    <title>Ingresar Profesor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #BAF4FA;
        padding: 10px;
        text-align: center;
    }
</style>
<body>
<header class="header">
    <div class="logo">
    </div>
    <nav>
    </nav>
    <a class="cta-button" href="/profesores"><button>Volver al menú principal</button></a>
</header>
<div class="mainclass">
    <form th:action="@{/nuevoProfesor}" method="POST">
        <div class="logo">
            <h1><b>Registrar nuevo Profesor</b></h1>
        </div>
        <ul class="formcontainer">
            <hr/>
            <ul class="container">
                <li>
                    <label><strong>Nombre</strong></label>
                    <label for="nombre"></label><input type="text" id="nombre" placeholder="Nombre del profesor" name="nombre" required>
                </li>
                <li>
                    <label><strong>Apellido</strong></label>
                    <label for="apellido"></label><input type="text" id="apellido" placeholder="Apellido del profesor" name="apellido" required>
                </li>
                <li>
                    <label><strong>RUT</strong></label>
                    <label for="rut"></label><input type="text" id="rut" placeholder="RUT del profesor" name="rut" required>
                </li>
            </ul>

            
            <div class="cta-button">
                <button type="submit">Registrar Profesor</button>
            </div>
        </ul>
    </form>
</div>
</body>



</html>

