<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ingresar Detalle de Pago</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
<header class="header">
    <div class="logo">
    </div>
    <nav>
    </nav>
    <a class="cta-button" href="/vehiculos"><button>Volver al menú principal</button></a>
</header>
<div class="mainclass">
    <!-- Use Thymeleaf to set the form action URL -->
    <form th:action="@{'/crearReparacion/' + ${idVehiculo}}" method="POST">
        <div class="logo">
            <h1><b>Registrar nueva Reparacion</b></h1>
        </div>
        <ul class="formcontainer">
            <hr/>

            <ul class="container">
                <li>
                    <label><strong>Fecha de Ingreso</strong></label>
                    <p id="fechaHoraIngreso"></p>
                </li>
                <li>
                    <label><strong>Tipo de Reparacion</strong></label>
                    <select id="tipoReparacion" name="tipoReparacion" required>
                        <option value="">Seleccione el tipo de reparacion</option>
                        <option value="Mecanica">Mecanica</option>
                        <option value="Electrica">Electrica</option>
                        <option value="Chapa y Pintura">Chapa y Pintura</option>
                        <option value="Neumaticos">Neumaticos</option>
                    </select>
                </li>

            </ul>
            <div class="cta-button">
                <button type="submit" onclick="registerCurrentDateTime()">Registrar Reparacion con la hora actual</button>
            </div>
        </ul>
    </form>
</div>

<script>
    function registerCurrentDateTime() {
        // Get the current datetime in UTC
        // Set the current datetime to the paragraph element
        document.getElementById("fechaHoraIngreso").innerText = new Date().toISOString().slice(0, 19).replace('T', ' ');
    }
</script>

</body>

</html>
