<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Ingresar Detalle de Pago</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #BAF4FA;
        padding: 10px;
        text-align: center;
    }
</style>

<body>
<header class="header">
    <div class="logo">
    </div>
    <nav>
    </nav>
    <a class="cta-button" href="/vehiculos"><button>Volver al menú principal</button></a>
</header>
<div class="mainclass">
    <form th:action="@{/crearReparacion/}" method="POST">
        <div class="logo">
            <h1><b>Registrar nueva Reparacion</b></h1>
        </div>
        <ul class="formcontainer">
            <hr/>

            <ul class="container">
                <li>
                    <label><strong>Fecha de Ingreso</strong></label>
                    <input type="date" id="fechaIngreso" name="fechaIngreso" required>
                <li>
                    <label><strong>Hora de Ingreso</strong></label>
                    <input type="time" id="horaIngreso" name="horaIngreso" required>
                </li>
                <li>
                    <label><strong>Tipo de Reparacion</strong></label>
                    <select id="tipoReparacion" name="tipoReparacion" required>
                        <option value="">Seleccione el tipo de reparacion</option>
                        <option value="Mecanica">Mecanica</option>
                        <option value="Electrica">Electrica</option>
                        <option value="Chapa y Pintura">Chapa y Pintura</option>
                        <option value="Neumaticos">Neumaticos</option>
                    </select>
                </li>
                <li>
                    <label><strong>Monto Total</strong></label>
                    <input type="number" id="montoTotal" name="montoTotal" required>
                </li>
                <li>
                    <label><strong>Fecha de salida de Reparacion</strong></label>
                    <input type="date" id="fechaSalida" name="fechaSalida" required>
                </li>
                <li>
                    <label><strong>Hora de salida de Reparacion</strong></label>
                    <input type="time" id="horaSalida" name="horaSalida" required>  
                </li>
                <li>
                    <label><strong>Fecha cliente retira vehiculo</strong></label>
                    <input type="date" id="fechaRetiro" name="fechaRetiro" required>
                </li>
            </ul>
            <div class="cta-button">
                <button type="submit">Registrar Reparacion</button>
            </div>
        </ul>
    </form>
</div>
</body>

</html>
