<!DOCTYPE html>
<html lang="es-ES" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Historial Académico</title>
	<link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">
</head>
<style>
	body {
		background-color: #BAF4FA;
		color: #6889BC;
		font-family: Calibri, sans-serif;
		margin: 0;
		padding: 0;
	}

	.header {
		background-color: #7AF4FA;
		padding: 10px;
		text-align: center;
	}

	.container {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
</style>
<body>
<header class="header">
	<h1>Historial Académico</h1>
</header>
<div class="container">
	<h2>Historial Académico</h2>
	<p>Número de Exámenes: <span th:text="${historialAcademico.nroExamenes}"></span></p>
	<p>Promedio de Exámenes: <span th:text="${historialAcademico.promedioExamenes}"></span></p>

	<h3>Notas</h3>
	<table border="1" class="content-table">
		<thead>
		<tr>
			<th>Materia</th>
			<th>Calificación</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="nota, iterStat : ${historialAcademico.notas}">
			<td th:text="${'Examen ' + iterStat.index}"></td>
			<td th:text="${nota}"></td>
		</tr>
		</tbody>
	</table>

	<!-- Add a button to add a new note -->
	<form th:action="@{/estudiantes/historialAcademico/{id}/agregarNota(id=${historialAcademico.id})}" method="post">
		<label for="nuevaNota">Nueva Nota:</label>
		<input type="number" id="nuevaNota" name="nuevaNota" required>
		<button type="submit">Agregar Nota</button>
	</form>
</div>
<a class="cta-button" href="/estudiantes"><button>Volver a estudiantes</button></a>
</body>
</html>
