<!DOCTYPE html>
<html lang="es-ES"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Detalle del Historial de Arancel</title>

</head>
<style>
	body {
		background-color: #BAF4FA;
		color: #6889BC;
		font-family: Calibri, sans-serif;
		margin: 0;
		padding: 0;
	}

	.header {
		background-color: #7AF4FA;
		padding: 10px;
		text-align: center;
	}

	.container {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
</style><body>
<header class="header">
	<h1>Detalle del vehiculo</h1>
	<nav>
	</nav>
</header>
<div class="container my-2">
	<h2>Detalles del vehiculo</h2>
	<p>Patente: <span th:text="${vehiculo.patente}"></span></p>
	<p>Marca: <span th:text="${vehiculo.marca}"></span></p>
	<p>Modelo: <span th:text="${vehiculo.modelo}"></span></p>
	<p>Color: <span th:text="${vehiculo.tipo}"></span></p>
	<p>Profesor: <span th:text="${vehiculo.annoFabricacion}"></span></p>
	<p>Fecha de ingreso: <span th:text="${vehiculo.tipoMotor}"></span></p>
	<p>Fecha de salida: <span th:text="${vehiculo.nroAsientos}"></span></p>

	<td>
		<a th:href="@{'/vehiculos/vehiculo/reparaciones/' + ${vehiculo.id}}">Ver reparaciones</a>
	</td>

	<!-- Add more details about the vehiculo as needed -->

	<!-- Add a button or link to go back to the list of historiales if needed -->
	<a class="cta-button" href="/vehiculos">Volver a la Lista de vehiculos</a>
	<a class="cta-button" href="/profesores"><button>Volver a lista de profesores</button></a>
</div>

</body>
</html>
