<!DOCTYPE html>
<html lang="es-ES"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visualizar vehiculos</title>

</head>
<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #7AF4FA;
        padding: 10px;
        text-align: center;
    }
</style>

<a class="cta-button" href="/nuevoVehiculo">Agregar Nuevo Vehiculos</a>

<div class="f">
    <div class="container my-2">
        <table border="1" class="content-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Acciones Permitidas</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehiculo : ${vehiculos}">

                <td th:text="${vehiculo.id}"></td>
                <td th:text="${vehiculo.patente}"></td>
                <td th:text="${vehiculo.marca}"></td>
                <td th:text="${vehiculo.modelo}"></td>
                <td th:text="${vehiculo.tipo}"></td>
                <td th:text="${vehiculo.annoFabricacion}"></td>
                <td th:text="${vehiculo.tipoMotor}"></td>
                <td th:text="${vehiculo.nroAsientos}"></td>
                
                <td>
                    <!-- Botón para pedir vehiculo -->
                    <button th:id="'startButton' + ${vehiculo.id}" th:data-estado="${vehiculo.estado}"
                            th:disabled="${vehiculo.estado != 'disponible'}">Pedir Vehiculos</button>
                        

                    <!-- Botón para devolver vehiculo -->
                    <button th:id="'returnButton' + ${vehiculo.id}" th:disabled="${vehiculo.estado != 'ocupado'}">Devolver Vehiculos</button>

                    <!-- Selector de profesor -->
                    <label>
                        <select th:id="'profesorSelector' + ${vehiculo.id}">
                            <option value="">Seleccionar Profesor</option>
                            <option th:each="profesor : ${profesores}"
                                    th:value="${profesor.id}"
                                    th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">
                            </option>
                        </select>
                    </label>

                    <!-- Selector de uso toggle: si vehiculo.tipo es epson entonces opcion 1 o 2 disponible, si vehiculo.tipo es viewSonic, opcion 3 disponible
                    <label>
                        <select th:id="'usoSelector' + ${vehiculo.id}">
                            <option value="">Seleccionar marca</option>
                            <option th:if="${vehiculo.tipo == 'Epson'}" value="Dictado de clases">Dictado de clases</option>
                            <option th:if="${vehiculo.tipo == 'Epson'}" value="Examen de titulo">Examen de titulo</option>
                            <option th:if="${vehiculo.tipo == 'ViewSonic'}" value="Reuniones varias">Reuniones varias</option>
                        </select>
                    </label>-->


                    <!-- Temporizador -->
                    <p th:id="'timer' + ${vehiculo.id}">06:00:00</p>
                    <!--guardar la hora de reparacion-->
                    <p th:id="'horaReparacion' + ${vehiculo.id}"></p>

                    <!-- Reporte de daños -->
                    <div th:id="'damageReport' + ${vehiculo.id}">
                        <label><input type="radio" th:name="'damage' + ${vehiculo.id}" value="no" checked> No Danado</label>
                        <label><input type="radio" th:name="'damage' + ${vehiculo.id}" value="yes"> Danado</label>
                    </div>

                    <!-- Botón para marcar como reparado, oculto por defecto -->
                    <button th:id="'repairButton' + ${vehiculo.id}" style="display: none;">Marcar como Reparado</button>

                    <!-- Campo para aplicar timeskip -->
                    <label>
                        <input type="text" th:id="'skipTime' + ${vehiculo.id}" placeholder="HH:MM:SS">
                    </label>
                    <button th:id="'skipButton' + ${vehiculo.id}">Aplicar Timeskip</button>

                    <!-- Resultado de la acción -->
                    <p th:id="'resultado' + ${vehiculo.id}"></p>
                </td>
                <td>
                    <a th:href="@{'/vehiculos/vehiculo/' + ${vehiculo.id}}">Ver Vehiculos</a>

            </tr>
            </tbody>
            <tfoot>
            <!-- Contenido del tfoot si lo hay -->
            </tfoot>
        </table>
        <a class="cta-button" href="/profesores"><button>Ver profesores</button></a>
        <a class="cta-button" href="/reparaciones"><button>Ver reparaciones</button></a>
    </div>
</div>
<br>
<hr>


</html>

<script>
    let tiempoTotalSegundos = 6 * 3600; // 6 horas
    let interval;
    let tiempoInicial = tiempoTotalSegundos;
    let vehiculoDisponible = true;
    let horaReparacion = new Date().toLocaleTimeString();
    let fechaReparacion = new Date().toLocaleDateString();

    document.querySelector('.container').addEventListener('click', function(event) {
        if (event.target && event.target.matches("[id^='startButton']")) {
            const idVehiculo = event.target.id.replace('startButton', '');
            const vehiculoEstado = event.target.getAttribute('data-estado');

            if (vehiculoEstado === 'disponible') {
                event.target.disabled = true;
                document.getElementById('returnButton' + idProjector).disabled = false;
                document.getElementById('damageReport' + idProjector).style.display = 'block';
                iniciarContador(idProjector);
                event.target.setAttribute('data-estado', 'ocupado');
                horaReparacion = new Date().toLocaleTimeString();
                fechaReparacion = new Date().toLocaleDateString();
            }
        }
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll("[id^='returnButton']").forEach(button => {
            button.addEventListener("click", function() {
                const idProjector = this.id.replace('returnButton', '');
                const fila = this.closest('tr');

                this.disabled = true;

                // Detener el contador específico del vehiculo
                if (vehiculosTimers[idProjector] && vehiculosTimers[idProjector].interval) {
                    clearInterval(vehiculosTimers[idProjector].interval);
                }

                registrarTiempoUsado(idProjector);

                // Recolectar los datos de la fila para enviar
                const idProfesor = fila.querySelector('#profesorSelector' + idProjector).value;
                //si el vehiculo esta dañado, se guarda en el historial del profesor un contaodr de daños
                
                const estadoDanado = fila.querySelector('input[name="damage' + idProjector + '"]:checked').value === 'yes' ? 'Dañado' : 'No Dañado';
                const uso = fila.querySelector('#usoSelector' + idProjector).value;

                const utilizacionHoras = fila.querySelector('#timer' + idProjector).textContent;

                //fecha formato dd/mm/aaaa
                //obtener la cantidad de tiempo de cuando se pidio el vehiculo sea fechaDevolución y fechaEntrega la cantidad de tiempo que ha pasado desde el pedido


                const horaDevolucion = new Date().toLocaleTimeString();
                const fechaDevolucion = new Date().toLocaleDateString();

                if (estadoDanado === "No Dañado") {
                    fila.querySelector('#startButton' + idProjector).disabled = false;
                    fila.querySelector('#damageReport' + idProjector).style.display = "none";
                } else {
                    fila.querySelector('#repairButton' + idProjector).style.display = "block";
                }

                // Restablecer el contador del vehiculo
                vehiculosTimers[idProjector].tiempoTotalSegundos = tiempoInicial;
                actualizarTiempo(idProjector);

                // Enviar los datos recolectados para guardar en el historial de pedidos
                enviarDatosReparacion(
                    fechaReparacion.toString(),
                    horaReparacion.toString(),
                    utilizacionHoras,
                    fechaDevolucion,
                    horaDevolucion,
                    estadoDanado,
                    uso,
                    idProjector,
                    idProfesor
                );
            });
        });
    });


    document.querySelectorAll("[id^='repairButton']").forEach(button => {
    button.addEventListener("click", function() {
        const idProjector = this.id.replace('repairButton', '');
        this.style.display = "none"; // Oculta este botón de "Reparado"
        const fila = this.closest('tr');
        fila.querySelector('#startButton' + idProjector).disabled = false; // Habilita el botón de "Pedir" correspondiente

        // Aquí puedes agregar lógica adicional si necesitas actualizar el estado del vehiculo en el backend
    });
});


    document.querySelectorAll("[id^='skipButton']").forEach(button => {
        button.addEventListener("click", function() {
            const idProjector = this.id.replace('skipButton', '');
            const fila = this.closest('tr');
            const skipTime = fila.querySelector('#skipTime' + idProjector).value;
            const [horas, minutos, segundos] = skipTime.split(":").map(Number);

            if (!isNaN(horas) && !isNaN(minutos) && !isNaN(segundos)) {
                const skipTotalSegundos = horas * 3600 + minutos * 60 + segundos;
                actualizarTiempo(idProjector, skipTotalSegundos);

                // Usa vehiculosTimers[idProjector].tiempoTotalSegundos para acceder al tiempo
                if (vehiculosTimers[idProjector].tiempoTotalSegundos < 0) {
                    clearInterval(vehiculosTimers[idProjector].interval);
                    fila.querySelector('#timer' + idProjector).innerText = "Atrasado";
                    registrarTiempoUsado(fila, idProjector);
                    fila.querySelector('#returnButton' + idProjector).disabled = true;
                    fila.querySelector('#startButton' + idProjector).disabled = false;
                }
            }
        });
    });


    // Objeto para manejar los tiempos e intervalos de cada vehiculo
    let vehiculosTimers = {};
    function iniciarContador(idProjector) {
        // Comprobación e inicialización para un nuevo vehiculo
        if (!vehiculosTimers[idProjector]) {
            vehiculosTimers[idProjector] = {
                tiempoTotalSegundos: 6 * 3600, // 6 horas
                tiempoInicial: 6 * 3600,       // Tiempo inicial
                interval: null
            };
        } else {
            // Reiniciar el tiempo para un vehiculo existente
            clearInterval(vehiculosTimers[idProjector].interval);
            vehiculosTimers[idProjector].tiempoTotalSegundos = 6 * 3600;
            vehiculosTimers[idProjector].tiempoInicial = 6 * 3600;
        }

        actualizarTiempo(idProjector);
        vehiculosTimers[idProjector].interval = setInterval(function() {
            vehiculosTimers[idProjector].tiempoTotalSegundos--;

            actualizarTiempo(idProjector);

            if (vehiculosTimers[idProjector].tiempoTotalSegundos <= 0) {
                clearInterval(vehiculosTimers[idProjector].interval);
                document.getElementById('timer' + idProjector).innerText = "Atrasado";
                registrarTiempoUsado(idProjector);
            }
        }, 1000);
        // Guarda el tiempo restante en el almacenamiento local
        localStorage.setItem('tiempoRestante' + idProjector, vehiculosTimers[idProjector].tiempoTotalSegundos);
    }

    window.addEventListener('load', function() {
        // Recorre todos los vehiculos y verifica si hay tiempo guardado en el almacenamiento local
        Object.keys(vehiculosTimers).forEach(function(idProjector) {
            const tiempoGuardado = localStorage.getItem('tiempoRestante' + idProjector);

            if (tiempoGuardado !== null) {
                vehiculosTimers[idProjector].tiempoTotalSegundos = parseInt(tiempoGuardado, 10);
                actualizarTiempo(idProjector);

                // Si el contador estaba en cero, realiza las acciones necesarias aquí
                if (vehiculosTimers[idProjector].tiempoTotalSegundos <= 0) {
                    // Realiza las acciones necesarias para un contador en cero al cargar la página
                }
            }
        });
    });


    function registrarTiempoUsado(idProjector) {
        // Asegúrate de que tiempoTotalSegundos y tiempoInicial estén correctamente definidos para cada vehiculo.
        const tiempoUsado = vehiculosTimers[idProjector].tiempoInicial - vehiculosTimers[idProjector].tiempoTotalSegundos;
        const horas = Math.floor(tiempoUsado / 3600);
        const minutos = Math.floor((tiempoUsado % 3600) / 60);
        const segundos = tiempoUsado % 60;

        let mensaje;
        if (vehiculosTimers[idProjector].tiempoTotalSegundos < 0) {
            mensaje = "Atrasado";
        } else {
            mensaje = `Tiempo utilizado: ${horas} horas, ${minutos} minutos y ${segundos} segundos.`;
        }

        // Actualiza el valor en el almacenamiento local antes de reiniciar el contador
        localStorage.setItem('tiempoRestante' + idProjector, vehiculosTimers[idProjector].tiempoTotalSegundos);

        document.getElementById('resultado' + idProjector).innerText = mensaje;
    }


    function actualizarTiempo(idProjector) {
        let tiempo = vehiculosTimers[idProjector].tiempoTotalSegundos;
        let horas = Math.floor(tiempo / 3600);
        let minutos = Math.floor((tiempo % 3600) / 60);
        let segundos = tiempo % 60;

        horas = horas < 10 ? '0' + horas : horas;
        minutos = minutos < 10 ? '0' + minutos : minutos;
        segundos = segundos < 10 ? '0' + segundos : segundos;

        document.getElementById('timer' + idProjector).innerText = `${horas}:${minutos}:${segundos}`;
    }

    function enviarDatosReparacion(
                    fechaPrestamo,
                    horaPrestamo,
                    utilizacionHoras,
                    fechaDevolucion,
                    horaDevolucion,
                    estadoDanado,
                    uso,
                    idProjector,
                    idProfesor) {
        
        console.log('Datos a enviar:', {                     
                    fechaPrestamo,
                    horaPrestamo,
                    utilizacionHoras,
                    fechaDevolucion,
                    horaDevolucion,
                    estadoDanado,
                    uso,
                    idProjector,
                    idProfesor});

        // Validación de los parámetros
    if (!fechaPrestamo || !horaPrestamo || !utilizacionHoras || !fechaDevolucion || !horaDevolucion || !estadoDanado || !uso || !idProjector || !idProfesor) {
        console.error('Error: Todos los campos deben estar llenos.');
        return; // Termina la ejecución si hay algún campo vacío
    }
    const params = new URLSearchParams();
        params.append('fechaPrestamo', fechaPrestamo || ''); // Proporciona un valor predeterminado si es undefined
        params.append('horaPrestamo', horaPrestamo || '');
        params.append('utilizacionHoras', utilizacionHoras || '');
        params.append('fechaDevolucion', fechaDevolucion || '');
        params.append('horaDevolucion', horaDevolucion || '');
        params.append('estadoDanado', estadoDanado || '');
        params.append('uso', uso || '');
        params.append('idProjector', idProjector || '');
        params.append('idProfesor', idProfesor || '');
        

fetch('/reparaciones', {
    method: 'POST',
    body: params,
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
    }
})
.then(response => {
    if (!response.ok) {
        throw new Error('La respuesta del servidor no fue OK');
    }
    return response.json();
})
.then(data => {
    console.log('Préstamo registrado:', data);
    // Aquí puedes actualizar la interfaz de usuario si es necesario
})
.catch((error) => {
    console.error('Error al realizar la solicitud:', error);
});

}

</script>