<!DOCTYPE html>
<html lang="es-ES" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Información del Profesor</title>

</head>
<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #7AF4FA;
        padding: 10px;
        text-align: center;
    }

    .container {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>
<body>
<header class="header">
    <h1>Información del Profesor</h1>
</header>
<div class="container">
    <h2>Información del Profesor</h2>
    <p>ID: <span th:text="${profesor.id}" id="profesorId"></span></p>
    <p>RUT: <span th:text="${profesor.rut}"></span></p>
    <p>Nombre: <span th:text="${profesor.nombre}"></span></p>
    <p>Apellido: <span th:text="${profesor.apellido}"></span></p>
    <p>Infracciones: <span th:text="${profesor.infracciones}"></span></p>
    <p>Atrasos: <span th:text="${profesor.atrasos}"></span></p>


    <div id="VisualizarVehiculoes"></div>

</div>
<a class="cta-button" href="/profesores"><button>Volver a Profesores</button></a>


</body>
</html>
