<!DOCTYPE html>
<html lang="es-ES" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Información del Profesor</title>

</head>
<style>
	body {
		background-color: #BAF4FA;
		color: #6889BC;
		font-family: Calibri, sans-serif;
		margin: 0;
		padding: 0;
	}

	.header {
		background-color: #7AF4FA;
		padding: 10px;
		text-align: center;
	}

	.container {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
</style>


<body>
<header class="header">
	<h1>Visualizar Reparaciones</h1>
	<nav>
		<!-- Puedes agregar enlaces de navegación si es necesario -->
	</nav>
</header>
<div class="f">
	<div class="container my-2">
		<table border="1" class="content-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>fechaReparacion</th>
				<th>horaReparacion</th>
				<th>utilizacionHoras</th>
				<th>fechaDevolucion</th>
				<th>horaDevolucion</th>
				<th>estadoDanado</th>
				<th>uso</th>
				<th>idVehiculo</th>
				<th>idProfesor</th>
				
				<!-- Agrega más encabezados según los campos de DetallePagoEntity -->
			</tr>
			</thead>
			<tbody>
			<!-- Iterate over the list of Reparacion entities -->
			<tr th:each="reparacion : ${reparaciones}">
				<td th:text="${reparacion.id}"></td>
				<td th:text="${reparacion.fechaReparacion}"></td>
				<td th:text="${reparacion.horaReparacion}"></td>
				<td th:text="${reparacion.utilizacionHoras}"></td>
				<td th:text="${reparacion.fechaDevolucion}"></td>
				<td th:text="${reparacion.horaDevolucion}"></td>
				<td th:text="${reparacion.estadoDanado}"></td>
				<td th:text="${reparacion.uso}"></td>
				<td th:text="${reparacion.idVehiculo}"></td>
				<td th:text="${reparacion.idProfesor}"></td>
				<!-- Agrega más columnas según los campos de DetallePagoEntity -->
			</tr>


			<td>
				<a th:href="@{'/profesores'}">Ver profesores</a>
			</td>
			<td>
				<a th:href="@{'/vehiculos'}">Ver vehiculos</a>
			</tbody>
		</table>
	</div>
</div>
<br>
<hr>
</body>

</html>
