<!DOCTYPE html>
<html lang="es-ES"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Detalle del Historial de Arancel</title>

</head>
<style>
	body {
		background-color: #BAF4FA;
		color: #6889BC;
		font-family: Calibri, sans-serif;
		margin: 0;
		padding: 0;
	}

	.header {
		background-color: #7AF4FA;
		padding: 10px;
		text-align: center;
	}

	.container {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
</style><body>
<header class="header">
	<h1>Detalle del projector</h1>
	<nav>
	</nav>
</header>
<div class="container my-2">
	<h2>Detalles del projector</h2>
	<p>ID: <span th:text="${projector.id}"></span></p>
	<p>Nombre: <span th:text="${projector.nombre}"></span></p>
	<p>Tipo: <span th:text="${projector.tipo}"></span></p>
	<p>Estado: <span th:text="${projector.estado}"></span></p>


	<td>
		<a th:href="@{'/projectores/projector/prestamos/' + ${projector.id}}">Ver prestamos</a>
	</td>

	<!-- Add more details about the projector as needed -->

	<!-- Add a button or link to go back to the list of historiales if needed -->
	<a class="cta-button" href="/projectores">Volver a la Lista de projectores</a>
	<a class="cta-button" href="/profesores"><button>Volver a lista de profesores</button></a>
</div>

</body>
</html>
