<!DOCTYPE html>
<html lang="es-ES"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visualizar Profesores</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">
</head>
<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #7AF4FA;
        padding: 10px;
        text-align: center;
    }
</style>
<body>
<header class="header">
    <h1>Visualizar Profesores</h1>
    <nav>
    </nav>
    <a class="cta-button" href="/nuevoProfesor">Agregar Nuevo Profesor</a>
</header>
<div class="f">
    <div class="container my-2">
        <table border="1" class="content-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Historial Académico</th>
                <th>Historial Arancel</th>
                <th>Resumen profesor</th> <!-- New column for the Edit button -->
                <!-- Add more headers for the new columns -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="profesor:${profesores}">
                <td th:text="${profesor.id}"></td>
                <td th:text="${profesor.rut}"></td>
                <td th:text="${profesor.nombre}"></td>
                <td th:text="${profesor.apellido}"></td>

                
                <td><a th:href="@{'/profesores/' + ${profesor.id}}">Ver profesor</a></td>
                <!-- Add more columns for additional data if needed -->
            </tr>
            </tbody>

            <td>
                <a th:href="@{'/profesores/listarAranceles'}">Ver Historial Arancel</a>
            </td>

            <td>
                <a th:href="@{'/profesores/listarNotas'}">Ver Historial Notas</a>
            </td>

        </table>
    </div>
</div>
<br>
<hr>
</body>
</html>
