<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Visualizar Detalles de Pagos</title>
	<link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">
	<style>
		/* Estilos CSS aquí (si es necesario) */
	</style>
</head>

<body>
<header class="header">
	<h1>Visualizar Detalles de Pagos</h1>
	<nav>
		<!-- Puedes agregar enlaces de navegación si es necesario -->
	</nav>
</header>
<div class="f">
	<div class="container my-2">
		<table border="1" class="content-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>Fecha de Pago</th>
				<th>Fecha de Vencimiento</th>
				<th>Monto de Pago</th>
				<th>Pagado</th>
				<!-- Agrega más encabezados según los campos de DetallePagoEntity -->
			</tr>
			</thead>
			<tbody>
			<!-- Iterate over the list of Prestamo entities -->
			<tr th:each="prestamo : ${listDetallePago}">
				<td th:text="${prestamo.id}"></td>
				<td th:text="${prestamo.fechaPago}"></td>
				<td th:text="${prestamo.fechaVencimiento}"></td>
				<td th:text="${prestamo.montoPago}"></td>
				<td th:text="${prestamo.pagado}"></td>
				<!-- Agrega más columnas según los campos de DetallePagoEntity -->

				<!-- Create a form for each Prestamo -->
				<td>
					<form th:action="@{'/profesores/projector/prestamo/' + ${prestamo.getProjectorID()} + '/' + ${prestamo.id} }" method="post">
						<button type="submit">Pagar</button>
					</form>
				</td>
			</tr>
			<!-- End of iteration -->
			<td>
				<a th:href="@{'/profesores/projector/' + ${listDetallePago.get(0).getProjectorID()}}">Ver Historial Arancel</a>
			</td>
			<td>
				<a th:href="@{'/profesores'}">Ver profesores</a>
			</td>
			</tbody>
		</table>
	</div>
</div>
<br>
<hr>
</body>

</html>
