<!DOCTYPE html>
<html lang="es-ES" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Información del Profesor</title>
	<link rel="stylesheet" href="../static/style.css" type="text/css" th:href="@{/style.css}">
</head>
<style>
	body {
		background-color: #BAF4FA;
		color: #6889BC;
		font-family: Calibri, sans-serif;
		margin: 0;
		padding: 0;
	}

	.header {
		background-color: #7AF4FA;
		padding: 10px;
		text-align: center;
	}

	.container {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
</style>


<body>
<header class="header">
	<h1>Visualizar Prestamos</h1>
	<nav>
		<!-- Puedes agregar enlaces de navegación si es necesario -->
	</nav>
</header>
<div class="f">
	<div class="container my-2">
		<table border="1" class="content-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>ID Projector</th>
				<th>ID Profesor</th>
				<th>Fecha de Prestamo</th>
				<th>Fecha de Devolucion</th>
				<th>Fecha de Entrega</th>
				<th>Estado</th>
				<!-- Agrega más encabezados según los campos de DetallePagoEntity -->
			</tr>
			</thead>
			<tbody>
			<!-- Iterate over the list of Prestamo entities -->
			<tr th:each="prestamo : ${prestamos}">
				<td th:text="${prestamo.id}"></td>
				<td th:text="${prestamo.projectorID}"></td>
				<td th:text="${prestamo.profesorID}"></td>
				<td th:text="${prestamo.fechaPrestamo}"></td>
				<td th:text="${prestamo.fechaDevolucion}"></td>
				<td th:text="${prestamo.fechaEntrega}"></td>
				<td th:text="${prestamo.estado}"></td>
				<!-- Agrega más columnas según los campos de DetallePagoEntity -->
			</tr>
			<td>
				<a th:href="@{'/profesores'}">Ver profesores</a>
			</td>
			</tbody>
		</table>
	</div>
</div>
<br>
<hr>
</body>

</html>
