<!DOCTYPE html>
<html lang="es-ES"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visualizar vehiculo</title>

</head>
<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #7AF4FA;
        padding: 10px;
        text-align: center;
    }
</style>

<a class="cta-button" href="/nuevoVehiculo">Agregar Nuevo Vehiculos</a>

<div class="f">
    <div class="container my-2">
        <table border="1" class="content-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Año de Fabricacion</th>
                <th>Tipo de Motor</th>
                <th>Nro de Asientos</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehiculo : ${vehiculos}">

                <td th:text="${vehiculo.id}"></td>
                <td th:text="${vehiculo.patente}"></td>
                <td th:text="${vehiculo.marca}"></td>
                <td th:text="${vehiculo.modelo}"></td>
                <td th:text="${vehiculo.tipoMotor}"></td>
                <td th:text="${vehiculo.annoFabricacion}"></td>
                <td th:text="${vehiculo.tipoMotor}"></td>
                <td th:text="${vehiculo.nroAsientos}"></td>
                <td th:text="${vehiculo.estado}"></td>
                <td><a th:href="@{'/vehiculos/vehiculo/' + ${vehiculo.id}}">Ver Detalles del vehiculo</a></td>
            </tr>

        <!--
        <tr th:each="vehiculo : ${vehiculos}">
            <td colspan="9">
                <button id="ingresoButton" estado="no reparando">Ingresar</button>
                <button id="salidaButton" disabled>Reparado</button>
                <button id="retiroButton" disabled>Retiro</button>
                <span id="timer">00:00:00</span>
                <span id="resultado"></span>
                Cambios realizados
                Utilizando un multiselect para seleccionar múltiples tipos de daños
                <select id="estadoDanado" multiple>
                    <option value="0">Daño Mecánico</option>
                    <option value="1">Daño Eléctrico</option>
                    <option value="2">Daño de Carrocería</option>
                    <option value="3">Daño de Pintura</option>
                    <option value="4">Daño de Neumáticos</option>
                    <option value="5">Daño de Cristales</option>
                    <option value="6">Daño de Interiores</option>
                    <option value="7">Daño de Accesorios</option>
                </select>
            </td>
        </tr>Botones para reparar y marcar como reparado -->


            </tbody>
            <tfoot>
            <!-- Contenido del tfoot si lo hay -->
            </tfoot>
        </table>
        <a class="cta-button" href="/reparaciones"><button>Ver reparaciones</button></a>
    </div>
</div>
<br>
<hr>

</html>

<script>
    //
</script>

<script>/*
    let interval;
    let vehiculoDisponible = true;

    let horaIngreso = new Date().toLocaleTimeString();
    let fechaIngreso = new Date().toLocaleDateString();

    let horaSalida = new Date().toLocaleTimeString();
    let fechaSalida = new Date().toLocaleDateString();

    let horaRetiro = new Date().toLocaleTimeString();
    let fechaRetiro = new Date().toLocaleDateString();

    // Evento para iniciar el contador de tiempo de un vehiculo
    document.querySelector('.container').addEventListener('click', function(event) {
        if (event.target && event.target.matches("[id^='ingresoButton']")) {
            const idVehiculo = event.target.id.replace('salidaButton', '');
            const vehiculoEstado = event.target.getAttribute('estado');

            if (vehiculoEstado === 'no reparando') {
                event.target.disabled = true;
                document.getElementById('salidaButton' + idVehiculo).disabled = false;
                iniciarContador(idVehiculo);
                event.target.setAttribute('estado', 'ingreso');
                horaIngreso = new Date().toLocaleTimeString();
                fechaIngreso = new Date().toLocaleDateString();
            }
        }
    });



    // Evento para detener el contador de tiempo de un vehiculo y registrar el tiempo en reparacion
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll("[id^='salidaButton']").forEach(button => {
            button.addEventListener("click", function() {
                const idVehiculo = this.id.replace('salidaButton', '');
                const fila = this.closest('tr');

                this.disabled = true;

                // Detener el contador específico del vehiculo
                if (vehiculosTimers[idVehiculo] && vehiculosTimers[idVehiculo].interval) {
                    clearInterval(vehiculosTimers[idVehiculo].interval);
                }
                registrarTiempoUsado(idVehiculo);

                const utilizacionHoras = fila.querySelector('#timer' + idVehiculo).textContent;

                //obtener la cantidad de tiempo de cuando se pidio el vehiculo sea fechaDevolución y fechaEntrega la cantidad de tiempo que ha pasado desde el pedido
                horaSalida = new Date().toLocaleTimeString();
                fechaSalida = new Date().toLocaleDateString();

                // Restablecer el contador del vehiculo
                vehiculosTimers[idVehiculo].tiempoTotalSegundos = tiempoInicial;
                actualizarTiempo(idVehiculo);


            });
        });
    });


    // Evento para despachar un vehiculo y registrar el tiempo de despacho
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll("[id^='retiroButton']").forEach(button => {
            button.addEventListener("click", function() {
                const idVehiculo = this.id.replace('retiroButton', '');
                const fila = this.closest('tr');

                this.disabled = true;

                // Detener el contador específico del vehiculo
                if (vehiculosTimers[idVehiculo] && vehiculosTimers[idVehiculo].interval) {
                    clearInterval(vehiculosTimers[idVehiculo].interval);
                }
                registrarTiempoUsado(idVehiculo);

                const utilizacionHoras = fila.querySelector('#timer' + idVehiculo).textContent;

                //obtener la cantidad de tiempo de cuando se pidio el vehiculo sea fechaDevolución y fechaEntrega la cantidad de tiempo que ha pasado desde el pedido
                horaRetiro = new Date().toLocaleTimeString();
                fechaRetiro = new Date().toLocaleDateString();

                // Restablecer el contador del vehiculo
                vehiculosTimers[idVehiculo].tiempoTotalSegundos = tiempoInicial;
                actualizarTiempo(idVehiculo);

                // Enviar los datos recolectados para guardar en el historial de pedidos
                enviarDatosReparacion(
                    fechaIngreso.toString(),
                    horaIngreso.toString(),
                    fechaSalida.toString(),
                    horaSalida.toString(),
                    fechaRetiro.toString(),
                    horaRetiro.toString(),
                    idVehiculo,
                );

            });
        });
    });



    window.addEventListener('load', function() {
        // Recorre todos los vehiculos y verifica si hay tiempo guardado en el almacenamiento local
        Object.keys(vehiculosTimers).forEach(function(idVehiculo) {
            const tiempoGuardado = localStorage.getItem('tiempoRestante' + idVehiculo);

            if (tiempoGuardado !== null) {
                vehiculosTimers[idVehiculo].tiempoTotalSegundos = parseInt(tiempoGuardado, 10);
                actualizarTiempo(idVehiculo);

                // Si el contador estaba en cero, realiza las acciones necesarias aquí
                if (vehiculosTimers[idVehiculo].tiempoTotalSegundos <= 0) {
                    // Realiza las acciones necesarias para un contador en cero al cargar la página
                }
            }
        });
    });


// Objeto para manejar los tiempos e intervalos de cada vehiculo
let vehiculosTimers = {};

function iniciarContador(idVehiculo) {
    // Comprobación e inicialización para un nuevo vehiculo
    if (!vehiculosTimers[idVehiculo]) {
        vehiculosTimers[idVehiculo] = {
            tiempoTotalSegundos: 0,  // Comienza desde cero
            interval: null
        };
    } else {
        // Si el vehículo ya existe, no es necesario reiniciar el contador
        return;
    }

    actualizarTiempo(idVehiculo);
    vehiculosTimers[idVehiculo].interval = setInterval(function() {
        vehiculosTimers[idVehiculo].tiempoTotalSegundos++;

        actualizarTiempo(idVehiculo);
    }, 1000);
}

function actualizarTiempo(idVehiculo) {
    const tiempo = vehiculosTimers[idVehiculo].tiempoTotalSegundos;
    const horas = Math.floor(tiempo / 3600);
    const minutos = Math.floor((tiempo % 3600) / 60);
    const segundos = tiempo % 60;

    const horasFormateadas = horas < 10 ? '0' + horas : horas;
    const minutosFormateados = minutos < 10 ? '0' + minutos : minutos;
    const segundosFormateados = segundos < 10 ? '0' + segundos : segundos;

    const timerElement = document.getElementById('timer' + idVehiculo);
    if (timerElement) {
        timerElement.innerText = `${horasFormateadas}:${minutosFormateados}:${segundosFormateados}`;
    } else {
        console.error(`Elemento 'timer${idVehiculo}' no encontrado.`);
    }
}

function registrarTiempoUsado(idVehiculo) {
    const tiempoUsado = vehiculosTimers[idVehiculo].tiempoTotalSegundos;
    const horas = Math.floor(tiempoUsado / 3600);
    const minutos = Math.floor((tiempoUsado % 3600) / 60);
    const segundos = tiempoUsado % 60;

    let mensaje;

    mensaje = `Tiempo utilizado: ${horas} horas, ${minutos} minutos y ${segundos} segundos.`;


    // Actualiza el valor en el almacenamiento local antes de reiniciar el contador
    localStorage.setItem('tiempoUtilizado' + idVehiculo, tiempoUsado);

    const resultadoElement = document.getElementById('resultado' + idVehiculo);
    if (resultadoElement) {
        resultadoElement.innerText = mensaje;
    } else {
        console.error(`Elemento 'resultado${idVehiculo}' no encontrado.`);
    }
}



    function enviarDatosReparacion(
                    fechaIngreso,
                    horaIngreso,
                    fechaSalida,
                    horaSalida,
                    fechaRetiro,
                    horaRetiro,
                    idVehiculo
                ){

        console.log('Datos a enviar:', {
            fechaIngreso,
            horaIngreso,
            fechaSalida,
            horaSalida,
            fechaRetiro,
            horaRetiro,
            idVehiculo

                    });

        // Validación de los parámetros
        if (!fechaIngreso || !horaIngreso || !fechaSalida || !horaSalida || !fechaRetiro || !horaRetiro || !idVehiculo) {
            console.error('Error: Todos los campos deben estar llenos.');
            return; // Termina la ejecución si hay algún campo vacío
        }
        const params = new URLSearchParams();
        params.append("fechaIngreso", fechaIngreso);
        params.append("horaIngreso", horaIngreso);
        params.append("fechaSalida", fechaSalida);
        params.append("horaSalida", horaSalida);
        params.append("fechaRetiro", fechaRetiro);
        params.append("horaRetiro", horaRetiro);
        params.append("idVehiculo", idVehiculo);


        fetch('/reparaciones', {
            method: 'POST',
            body: params,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('La respuesta del servidor no fue OK');
            }
            return response.json();
        })
        .then(data => {
            console.log('Préstamo registrado:', data);
            // Aquí puedes actualizar la interfaz de usuario si es necesario
        })
        .catch((error) => {
            console.error('Error al realizar la solicitud:', error);
        });

}


    /*
        // Evento para saltar el tiempo de un vehiculo
        document.querySelectorAll("[id^='skipButton']").forEach(button => {
            button.addEventListener("click", function() {
                const idVehiculo = this.id.replace('skipButton', '');
                const fila = this.closest('tr');
                const skipTime = fila.querySelector('#skipTime' + idProjector).value;
                const [horas, minutos, segundos] = skipTime.split(":").map(Number);

                if (!isNaN(horas) && !isNaN(minutos) && !isNaN(segundos)) {
                    const skipTotalSegundos = horas * 3600 + minutos * 60 + segundos;
                    actualizarTiempo(idVehiculo, skipTotalSegundos);

                    // Usa vehiculosTimers[idProjector].tiempoTotalSegundos para acceder al tiempo
                    if (vehiculosTimers[idVehiculo].tiempoTotalSegundos < 0) {
                        clearInterval(vehiculosTimers[idVehiculo].interval);
                        fila.querySelector('#timer' + idVehiculo).innerText = "Atrasado";
                        registrarTiempoUsado(fila, idVehiculo);
                        fila.querySelector('#returnButton' + idVehiculo).disabled = true;
                        fila.querySelector('#startButton' + idVehiculo).disabled = false;
                    }
                }
            });
        });

    */
</script>