<!DOCTYPE html>
<html lang="es-ES"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visualizar vehiculo</title>

</head>
<style>
    body {
        background-color: #BAF4FA;
        color: #6889BC;
        font-family: Calibri, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #7AF4FA;
        padding: 10px;
        text-align: center;
    }
</style>

<a class="cta-button" href="/nuevoVehiculo">Agregar Nuevo Vehiculos</a>

<div class="f">
    <div class="container my-2">
        <table border="1" class="content-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Año de Fabricacion</th>
                <th>Tipo de Motor</th>
                <th>Nro de Asientos</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehiculo : ${vehiculos}">

                <td th:text="${vehiculo.id}"></td>
                <td th:text="${vehiculo.patente}"></td>
                <td th:text="${vehiculo.marca}"></td>
                <td th:text="${vehiculo.modelo}"></td>
                <td th:text="${vehiculo.tipoMotor}"></td>
                <td th:text="${vehiculo.annoFabricacion}"></td>
                <td th:text="${vehiculo.tipoMotor}"></td>
                <td th:text="${vehiculo.nroAsientos}"></td>
                <td th:text="${vehiculo.estado}"></td>
                <td><a th:href="@{'/vehiculos/vehiculo/' + ${vehiculo.id}}">Ver Detalles del vehiculo</a></td>
            </tr>



            </tbody>
            <tfoot>
            <!-- Contenido del tfoot si lo hay -->
            </tfoot>
        </table>
        <a class="cta-button" href="/reparaciones"><button>Ver reparaciones</button></a>
    </div>
</div>
<br>
<hr>

</html>

<script>
    let interval;
    let vehiculoDisponible = true;
    let tiempoReparacion = 0;
    let tiempoDespacho = 0;

    let horaEntrada = new Date().toLocaleTimeString();
    let fechaEntrada = new Date().toLocaleDateString();

    let horaReparacion = new Date().toLocaleTimeString();
    let fechaReparacion = new Date().toLocaleDateString();

    let horaDespacho = new Date().toLocaleTimeString();
    let fechaDespacho = new Date().toLocaleDateString();

    // Evento para iniciar el contador de tiempo de un vehiculo
    document.querySelector('.container').addEventListener('click', function(event) {
        if (event.target && event.target.matches("[id^='startButton']")) {
            const idVehiculo = event.target.id.replace('startButton', '');
            const vehiculoEstado = event.target.getAttribute('data-estado');

            if (vehiculoEstado === 'no reparando') {
                event.target.disabled = true;
                document.getElementById('returnButton' + idVehiculo).disabled = false;
                //document.getElementById('damageReport' + idVehiculo).style.display = 'block';
                iniciarContador(idVehiculo);
                event.target.setAttribute('data-estado', 'ocupado');
                horaReparacion = new Date().toLocaleTimeString();
                fechaReparacion = new Date().toLocaleDateString();
            }
        }
    });




    // Evento para detener el contador de tiempo de un vehiculo y registrar el tiempo en reparacion
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll("[id^='returnButton']").forEach(button => {
            button.addEventListener("click", function() {
                const idVehiculo = this.id.replace('returnButton', '');
                const fila = this.closest('tr');

                this.disabled = true;

                // Detener el contador específico del vehiculo
                if (vehiculosTimers[idVehiculo] && vehiculosTimers[idVehiculo].interval) {
                    clearInterval(vehiculosTimers[idVehiculo].interval);
                }
                registrarTiempoUsado(idVehiculo);

                const uso = fila.querySelector('#usoSelector' + idVehiculo).value;

                const utilizacionHoras = fila.querySelector('#timer' + idVehiculo).textContent;

                //obtener la cantidad de tiempo de cuando se pidio el vehiculo sea fechaDevolución y fechaEntrega la cantidad de tiempo que ha pasado desde el pedido
                const horaReparado = new Date().toLocaleTimeString();
                const fechaReparado = new Date().toLocaleDateString();

                // Restablecer el contador del vehiculo
                vehiculosTimers[idVehiculo].tiempoTotalSegundos = tiempoInicial;
                actualizarTiempo(idVehiculo);

                
            });
        });
    });

    // Evento para el contador de tiempo de un vehiculo y registrar el tiempo en despacho
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll("[id^='dispatchButton']").forEach(button => {
            button.addEventListener("click", function() {
                const idVehiculo = this.id.replace('dispatchButton', '');
                const fila = this.closest('tr');

                this.disabled = true;

                // Detener el contador específico del vehiculo
                if (vehiculosTimers[idVehiculo] && vehiculosTimers[idVehiculo].interval) {
                    clearInterval(vehiculosTimers[idVehiculo].interval);
                }
                registrarTiempoUsado(idVehiculo);

                const uso = fila.querySelector('#usoSelector' + idVehiculo).value;

                const utilizacionHoras = fila.querySelector('#timer' + idVehiculo).textContent;

                //obtener la cantidad de tiempo de cuando se pidio el vehiculo sea fechaDevolución y fechaEntrega la cantidad de tiempo que ha pasado desde el pedido
                const horaDespacho = new Date().toLocaleTimeString();
                const fechaDespacho = new Date().toLocaleDateString();

                // Restablecer el contador del vehiculo
                vehiculosTimers[idVehiculo].tiempoTotalSegundos = tiempoInicial;
                actualizarTiempo(idVehiculo);

                // Enviar los datos recolectados para guardar en el historial de pedidos
                enviarDatosReparacion(
                    fechaReparacion.toString(),
                    horaReparacion.toString(),
                    utilizacionHoras,
                    fechaReparado,
                    horaReparado,
                    uso,
                    idVehiculo,
                );

                
            });
        });
    });




    //
    document.querySelectorAll("[id^='repairButton']").forEach(button => {
    button.addEventListener("click", function() {
        const idVehiculo = this.id.replace('repairButton', '');
        this.style.display = "none"; // Oculta este botón de "Reparado"
        const fila = this.closest('tr');
        fila.querySelector('#startButton' + idVehiculo).disabled = false; // Habilita el botón de "Despachar" correspondiente

    });
});


    // Evento para saltar el tiempo de un vehiculo
    document.querySelectorAll("[id^='skipButton']").forEach(button => {
        button.addEventListener("click", function() {
            const idVehiculo = this.id.replace('skipButton', '');
            const fila = this.closest('tr');
            const skipTime = fila.querySelector('#skipTime' + idProjector).value;
            const [horas, minutos, segundos] = skipTime.split(":").map(Number);

            if (!isNaN(horas) && !isNaN(minutos) && !isNaN(segundos)) {
                const skipTotalSegundos = horas * 3600 + minutos * 60 + segundos;
                actualizarTiempo(idVehiculo, skipTotalSegundos);

                // Usa vehiculosTimers[idProjector].tiempoTotalSegundos para acceder al tiempo
                if (vehiculosTimers[idVehiculo].tiempoTotalSegundos < 0) {
                    clearInterval(vehiculosTimers[idVehiculo].interval);
                    fila.querySelector('#timer' + idVehiculo).innerText = "Atrasado";
                    registrarTiempoUsado(fila, idVehiculo);
                    fila.querySelector('#returnButton' + idVehiculo).disabled = true;
                    fila.querySelector('#startButton' + idVehiculo).disabled = false;
                }
            }
        });
    });


    // Objeto para manejar los tiempos e intervalos de cada vehiculo
    let vehiculosTimers = {};
    function iniciarContador(idVehiculo) {
        // Comprobación e inicialización para un nuevo vehiculo
        if (!vehiculosTimers[idVehiculo]) {
            vehiculosTimers[idVehiculo] = {
                tiempoTotalSegundos: 6 * 3600, // 6 horas
                tiempoInicial: 6 * 3600,       // Tiempo inicial
                interval: null
            };
        } else {
            // Reiniciar el tiempo para un vehiculo existente
            clearInterval(vehiculosTimers[idVehiculo].interval);
            vehiculosTimers[idVehiculo].tiempoTotalSegundos = 6 * 3600;
            vehiculosTimers[idVehiculo].tiempoInicial = 6 * 3600;
        }

        actualizarTiempo(idVehiculo);
        vehiculosTimers[idVehiculo].interval = setInterval(function() {
            vehiculosTimers[idVehiculo].tiempoTotalSegundos--;

            actualizarTiempo(idVehiculo);

            if (vehiculosTimers[idVehiculo].tiempoTotalSegundos <= 0) {
                clearInterval(vehiculosTimers[idVehiculo].interval);
                document.getElementById('timer' + idVehiculo).innerText = "Atrasado";
                registrarTiempoUsado(idVehiculo);
            }
        }, 1000);
        // Guarda el tiempo restante en el almacenamiento local
        localStorage.setItem('tiempoRestante' + idVehiculo, vehiculosTimers[idVehiculo].tiempoTotalSegundos);
    }

    window.addEventListener('load', function() {
        // Recorre todos los vehiculos y verifica si hay tiempo guardado en el almacenamiento local
        Object.keys(vehiculosTimers).forEach(function(idVehiculo) {
            const tiempoGuardado = localStorage.getItem('tiempoRestante' + idVehiculo);

            if (tiempoGuardado !== null) {
                vehiculosTimers[idVehiculo].tiempoTotalSegundos = parseInt(tiempoGuardado, 10);
                actualizarTiempo(idVehiculo);

                // Si el contador estaba en cero, realiza las acciones necesarias aquí
                if (vehiculosTimers[idVehiculo].tiempoTotalSegundos <= 0) {
                    // Realiza las acciones necesarias para un contador en cero al cargar la página
                }
            }
        });
    });


    function registrarTiempoUsado(idVehiculo) {
        // Asegúrate de que tiempoTotalSegundos y tiempoInicial estén correctamente definidos para cada vehiculo.
        const tiempoUsado = vehiculosTimers[idVehiculo].tiempoInicial - vehiculosTimers[idProjector].tiempoTotalSegundos;
        const horas = Math.floor(tiempoUsado / 3600);
        const minutos = Math.floor((tiempoUsado % 3600) / 60);
        const segundos = tiempoUsado % 60;

        let mensaje;
        if (vehiculosTimers[idVehiculo].tiempoTotalSegundos < 0) {
            mensaje = "Atrasado";
        } else {
            mensaje = `Tiempo utilizado: ${horas} horas, ${minutos} minutos y ${segundos} segundos.`;
        }

        // Actualiza el valor en el almacenamiento local antes de reiniciar el contador
        localStorage.setItem('tiempoRestante' + idVehiculo, vehiculosTimers[idVehiculo].tiempoTotalSegundos);

        document.getElementById('resultado' + idVehiculo).innerText = mensaje;
    }


    function actualizarTiempo(idVehiculo) {
        let tiempo = vehiculosTimers[idVehiculo].tiempoTotalSegundos;
        let horas = Math.floor(tiempo / 3600);
        let minutos = Math.floor((tiempo % 3600) / 60);
        let segundos = tiempo % 60;

        horas = horas < 10 ? '0' + horas : horas;
        minutos = minutos < 10 ? '0' + minutos : minutos;
        segundos = segundos < 10 ? '0' + segundos : segundos;

        document.getElementById('timer' + idVehiculo).innerText = `${horas}:${minutos}:${segundos}`;
    }

    function enviarDatosReparacion(
                    fechaPrestamo,
                    horaPrestamo,
                    utilizacionHoras,
                    fechaDevolucion,
                    horaDevolucion,
                    //estadoDanado,
                    uso,
                    idVehiculo,
                    //idProfesor
                ){

        console.log('Datos a enviar:', {
                    fechaPrestamo,
                    horaPrestamo,
                    utilizacionHoras,
                    fechaDevolucion,
                    horaDevolucion,
                    //estadoDanado,
                    uso,
                    idVehiculo,
                    //idProfesor
                    });

        // Validación de los parámetros
    if (!fechaPrestamo || !horaPrestamo || !utilizacionHoras || !fechaDevolucion || !horaDevolucion || !estadoDanado || !uso || !idProjector || !idProfesor) {
        console.error('Error: Todos los campos deben estar llenos.');
        return; // Termina la ejecución si hay algún campo vacío
    }
    const params = new URLSearchParams();
        params.append('fechaPrestamo', fechaPrestamo || ''); // Proporciona un valor predeterminado si es undefined
        params.append('horaPrestamo', horaPrestamo || '');
        params.append('utilizacionHoras', utilizacionHoras || '');
        params.append('fechaDevolucion', fechaDevolucion || '');
        params.append('horaDevolucion', horaDevolucion || '');
        //params.append('estadoDanado', estadoDanado || '');
        params.append('uso', uso || '');
        params.append('idVehiculo', idVehiculo || '');
        //params.append('idProfesor', idProfesor || '');


fetch('/reparaciones', {
    method: 'POST',
    body: params,
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
    }
})
.then(response => {
    if (!response.ok) {
        throw new Error('La respuesta del servidor no fue OK');
    }
    return response.json();
})
.then(data => {
    console.log('Préstamo registrado:', data);
    // Aquí puedes actualizar la interfaz de usuario si es necesario
})
.catch((error) => {
    console.error('Error al realizar la solicitud:', error);
});

}

</script>